.background {
    position: absolute;
    top: 0;
    z-index: -1;
    background: url('../images/index_cover.jpg') no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh; 
    overflow: hidden; 
}