.button {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    --color: white;
}

.open-nav {
    --color: black
}

.bar {
    width: 2rem;
    height: 0.125rem;
    background-color: var(--color);
}
